@import 'build/scss/sass-variables';

html {
    font-size: 24px;
}

body {
    background-color: $color-bg;
    color: $color-ink;
    font-size: $size-font-body;
    text-align: center;
}

main {
    max-width: $size-large * 10;
    margin: 0 auto;
}

h1 {
    font-size: $size-font-title;
}

a {
    color: $color-action;
}

button {
    background-color: $color-action;
    border: 1px solid $color-action;
    color: $color-bg;
    font-size: $size-font-body;
    padding: $size-base;
}

.error {
    color: $color-negative;
}

.success {
    color: $color-positive;
}


// Potential way to automate theming with @use:
// https://sass-lang.com/documentation/at-rules/use#configuration

// Or maybe map sass variables:
// https://codepen.io/karlyanelson/pen/NWGWOXa

// You can't interpolate sass variables :(

// So maybe use css variables instead:
// https://codepen.io/karlyanelson/pen/NWGWOXa